# Environments
venv/
.venv/
env/
*/venv/
*/.venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# SQLite Databases & Local Files
*.db
*.sqlite
*.sqlite3

# IDE / OS junk
.vscode/
.idea/
.DS_Store
Thumbs.db

.env
.pytest_cache/
